input[type='text'],
input[type='email'],
select,
textarea, {
  @extend .form-control;
  @extend .input-lg;
}

label {
  margin-bottom: 5px;
  font-weight: normal;
}

.form-btn {

}

// span.phone-ddd, span.cel-phone-ddd, span.phone-co-ddd {
//   display: inline-block;
//   width: 25%;
//   margin-right: 5%;
// }

// span.phone, span.cel-phone {
//   display: inline-block;
//   width: 70%;
// }

// span.phone-co {
//   display: inline-block;
//   width: 40%;
//   margin-right: 5%;
// }

span.extension-co {
  display: inline-block;
  width: 25%;
}

span.phone-co {
  display: inline-block;
  width: 70%;
  margin-right: 5%;
}

@media (min-width: $screen-md-min) {
  // span.phone-ddd, span.cel-phone-ddd, span.phone-co-ddd {
  //   width: 10%;
  // }

  // span.phone, span.cel-phone {
  //   width: 85%;
  // }

  span.phone-co {
    width: 80%;
  }

  span.extension-co {
    width: 15%;
  }

}

.form-btn.text-right {
  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

div.wpcf7 img.ajax-loader {
  display: none;
}
