
/* Woo */

.woocommerce .page-header {
        max-width: 1170px;
        margin: 0 auto;
        display: none;
}

.woocommerce-cart .main,
.woocommerce-page .content {
       max-width: 1170px;
        margin: 0 auto;
}

.woocommerce-page p {
    font-size: 14px;
}

.woocommerce-page  input[type=text],
.woocommerce-page  input[type=email],
.woocommerce-page  textarea {
    height: inherit;
    border-radius: 0px;
    padding: 5px;
    font-size: 14px;
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
    background: #cf4c4c;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
    color: #fff;
}


.woo-screen {
    padding-top: 40px;
    padding-bottom: 40px;
}


.related.products {
    clear: both;
}

.related h2 {
    font-size: 18px;
    font-weight: lighter;
}

.woocommerce-page h3 {
    font-size: 12px;
}


#content {
    max-width: 1170px;
    margin: 0 auto; 
}

.woocommerce-tabs h2,
.cart_totals h2 {
    font-size: 19px;
}

#add_payment_method table.cart img, 
.woocommerce-cart table.cart img, 
.woocommerce-checkout table.cart img {
    width: 100px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-weight: lighter;
}

.sku_wrapper {
    color: #c9c9c9;
    font-size: .8em;
}


.products h2 {
    line-height: inherit!important;
}

.products a {
    color: #535353;
}


.woocommerce div.product .product_title {
    font-size: 24px;
    margin-bottom: 20px;
}


.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
    background: #cf4c4c;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}


.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover {
    background: #ca3838;
    color: #fff;
}


.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover {
     background: #ca3838;
    color: #fff;   
}

.woocommerce ul.products li.product .price {
    font-size: 1.3em;
}


.woocommerce table.shop_table tbody:first-child tr:first-child td, 
.woocommerce table.shop_table tbody:first-child tr:first-child th {
    font-weight: lighter;
}

.entry-summary h2 {
    font-size: 1em;
    font-weight: lighter;
}

.shop_table {
    font-weight: lighter;
}



/* Blog */

.blog .page-header {
	max-width: 1170px;
	padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.blog-container a {
    color: #535353
}



.blog-container {
    margin-top: 40px;
    margin-bottom: 40px;
}


.blog-container h1 {
    margin-top: 0px!important;
}

.blog-container h2 {
	font-size: 25px;
	margin-bottom: 15px;
	line-height: inherit;
}

.blog-container p {
	font-size: 14px;
}

.entry-summary {
	margin-bottom: 45px;
}

.blog-container p a {
    color: #cf4c4c;
}


#sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#sidebar h2 {
	font-size: 13px;
	text-transform: uppercase;
	line-height: inherit;
	color: #cf4c4c;
}

.updated {
	color: #b8b8b8;
}

.post-entry {
    margin-bottom: 40px;
}

.post-entry h2 a {
    color: #535353;
}

.category-title {
    margin-bottom: 0;
}

#sidebar .search-field {
    border: 1px solid #ddd;
    padding: 5px;
}

