/* Fui Nessa Viagem */

/* Header */

body {
    font-family: 'Helvetica, Arial';
}

.pane-header {
    background: #133A4D;
    border-bottom: 4px solid #00C2D9;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.30);
    padding: 20px 0;
}

.header-logo img {
    max-width: 200px;
    float: left;
}

.main-menu {
    width: 100%;
    border-bottom: 1px solid #E2DDDD;
    padding: 10px 0;
    background: #fff;
}


.menu li a {
    color: #595C5E;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}